build/travis/
i18n/
includes/
maintenance/
modules/
specials/
sql/
tests/
.coveralls.yml
.gitignore
.gitreview
.jscsrc
.jshintignore
.jshintrc
.travis.yml
COPYING
Gruntfile.js
README.md
WikibaseQualityConstraints.alias.php
WikibaseQualityConstraints.php
WikibaseQualityConstraintsHooks.php
composer.json
package.json
phpunit.xml.dist